body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#slider {
  position: absolute;
  display: block;
  width: 90%;
  height: 10px;
  bottom: 10%;
  left: 5%;
}